/resources
public/.DS_Store
public/404.html
public/book.min.e832d4e94212199857473bcf13a450d089c3fcd54ccadedcfac84ed0feff83fb.css
public/Capstone_logo1.png
public/en.search-data.min.606d7f45e2a39d6551dff3257fd135f24b2d06755cf63af358f46c7454242e50.json
public/en.search.min.9fb95da4a84a2ee71fa16fe8c55e706b7d005a7745c3efa740728f96e124b0a7.js
public/index.html
public/index.xml
public/logo_italic7.png
public/manifest.json
public/pyscript-environment.html
public/sitemap.xml
public/sw.js
public/sw.min.6f6f90fcb8eb1c49ec389838e6b801d0de19430b8e516902f8d75c3c8bd98739.js
public/YELLOW_BAR.png
public/categories/index.html
public/categories/index.xml
public/categories/page/1/index.html
public/docs/index.html
public/docs/index.xml
public/docs/groups/index.html
public/docs/groups/index.xml
public/docs/groups/jurnalik/index.html
public/docs/groups/the-laughing-hippos/index.html
public/docs/groups/the-smiling-boars/index.html
public/docs/weekly-tasks/index.html
public/docs/weekly-tasks/index.xml
public/docs/weekly-tasks/hidden/index.html
public/docs/weekly-tasks/startup-support/index.html
public/docs/weekly-tasks/startup-support/index.xml
public/docs/weekly-tasks/startup-support/fasie/index.html
public/docs/weekly-tasks/startup-support/investment-and-venture-fund-of-the-republic-of-tatarstan/index.html
public/docs/weekly-tasks/startup-support/mts-venture-fund/index.html
public/docs/weekly-tasks/startup-support/other-entities/index.html
public/docs/weekly-tasks/startup-support/special-economic-zone/index.html
public/docs/weekly-tasks/startup-support/university-support/index.html
public/docs/weekly-tasks/weekly-tasks/index.html
public/docs/weekly-tasks/weekly-tasks/index.xml
public/docs/weekly-tasks/weekly-tasks/week_1/index.html
public/docs/weekly-tasks/weekly-tasks/week_2/index.html
public/docs/weekly-tasks/weekly-tasks/week_3/index.html
public/docs/weekly-tasks/weekly-tasks/week_4/index.html
public/docs/weekly-tasks/weekly-tasks/week_5/index.html
public/docs/weekly-tasks/weekly-tasks/week_6/index.html
public/docs/weekly-tasks/weekly-tasks/week_7/index.html
public/images/lab10/1.jpg
public/images/lab10/2.jpg
public/images/lab10/3.jpg
public/images/lab10/4.jpg
public/images/lab10/5.jpg
public/images/lab10/6.jpg
public/images/lab10/7.jpg
public/images/lab10/8.jpg
public/images/lab10/9.jpg
public/images/lab10/10.jpg
public/images/lab10/11.jpg
public/images/lab10/12.jpg
public/images/lab10/14.jpg
public/images/lab10/15.jpg
public/images/lab10/16.jpg
public/images/lab10/18.jpg
public/images/lab10/19.jpg
public/images/lab10/20.jpg
public/images/lab10/21.jpg
public/images/lab2/1.png
public/images/lab2/2.png
public/images/lab2/3.png
public/images/lab2/4.png
public/images/lab2/5.png
public/images/lab2/6.png
public/images/lab2/7.png
public/images/lab2/8.png
public/images/lab2/9.png
public/images/lab2/10.png
public/images/lab2/11.png
public/images/lab2/12.png
public/images/lab2/13.png
public/images/lab2/14.png
public/images/lab2/15.png
public/images/lab3/.DS_Store
public/images/lab3/1.png
public/images/lab3/2.png
public/images/lab3/3.png
public/images/lab3/4.png
public/images/lab3/5.png
public/images/lab3/6.png
public/images/lab3/7.png
public/images/lab3/8.png
public/images/lab3/9.png
public/images/lab3/10.png
public/images/lab3/11.png
public/images/lab3/12.png
public/images/lab3/13.png
public/images/lab3/14.png
public/images/lab3/15.png
public/images/lab3/16.png
public/images/lab3/17.png
public/images/lab3/18.png
public/images/lab3/19.png
public/images/lab3/20.png
public/images/lab3/21.png
public/images/lab3/22.png
public/images/lab7/MovesGraphicallyImage.PNG
public/images/lab7/Solution1Image.PNG
public/images/lab7/Solution2Image.PNG
public/images/lab7/Solution3Image.PNG
public/images/lab7/Solution4Image.PNG
public/images/lab7/TMExampleImage.PNG
public/images/lab8/DFSA.jpg
public/images/lab8/ex1.png
public/images/lab8/ex1sol.png
public/images/lab8/ex2.png
public/images/lab8/ex2sol.png
public/images/lab8/final.png
public/images/lab8/IU_logo.png
public/images/lab8/logo_italic7.png
public/images/lab8/NDFSA.jpg
public/images/lab8/sol1.png
public/images/lab8/sol2.png
public/images/lab8/sol3.png
public/images/lab8/step1.png
public/images/lab8/step2.png
public/images/lab8/step3.png
public/images/lab8/step4.png
public/images/lab8/step5_2.png
public/images/lab8/step5.png
public/images/lab8/step6.png
public/images/lab9/P1L1.PNG
public/images/lab9/P1L3.PNG
public/images/lab9/P1L21.PNG
public/images/lab9/P1L22.PNG
public/images/lab9/P1L23.PNG
public/images/lab9/P2L1.PNG
public/images/lab9/P2L2.PNG
public/js/pdf-js/LICENSE
public/js/pdf-js/build/pdf.js
public/js/pdf-js/build/pdf.js.map
public/js/pdf-js/build/pdf.sandbox.js
public/js/pdf-js/build/pdf.sandbox.js.map
public/js/pdf-js/build/pdf.worker.js
public/js/pdf-js/build/pdf.worker.js.map
public/js/pdf-js/web/compressed.tracemonkey-pldi-09.pdf
public/js/pdf-js/web/debugger.css
public/js/pdf-js/web/debugger.js
public/js/pdf-js/web/viewer.css
public/js/pdf-js/web/viewer.html
public/js/pdf-js/web/viewer.js
public/js/pdf-js/web/viewer.js.map
public/js/pdf-js/web/cmaps/78-EUC-H.bcmap
public/js/pdf-js/web/cmaps/78-EUC-V.bcmap
public/js/pdf-js/web/cmaps/78-H.bcmap
public/js/pdf-js/web/cmaps/78-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/78-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/78-V.bcmap
public/js/pdf-js/web/cmaps/78ms-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/78ms-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/83pv-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/90ms-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/90ms-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/90msp-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/90msp-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/90pv-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/90pv-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/Add-H.bcmap
public/js/pdf-js/web/cmaps/Add-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/Add-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/Add-V.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-0.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-1.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-2.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-3.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-4.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-5.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-6.bcmap
public/js/pdf-js/web/cmaps/Adobe-CNS1-UCS2.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-0.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-1.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-2.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-3.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-4.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-5.bcmap
public/js/pdf-js/web/cmaps/Adobe-GB1-UCS2.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-0.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-1.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-2.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-3.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-4.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-5.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-6.bcmap
public/js/pdf-js/web/cmaps/Adobe-Japan1-UCS2.bcmap
public/js/pdf-js/web/cmaps/Adobe-Korea1-0.bcmap
public/js/pdf-js/web/cmaps/Adobe-Korea1-1.bcmap
public/js/pdf-js/web/cmaps/Adobe-Korea1-2.bcmap
public/js/pdf-js/web/cmaps/Adobe-Korea1-UCS2.bcmap
public/js/pdf-js/web/cmaps/B5-H.bcmap
public/js/pdf-js/web/cmaps/B5-V.bcmap
public/js/pdf-js/web/cmaps/B5pc-H.bcmap
public/js/pdf-js/web/cmaps/B5pc-V.bcmap
public/js/pdf-js/web/cmaps/CNS-EUC-H.bcmap
public/js/pdf-js/web/cmaps/CNS-EUC-V.bcmap
public/js/pdf-js/web/cmaps/CNS1-H.bcmap
public/js/pdf-js/web/cmaps/CNS1-V.bcmap
public/js/pdf-js/web/cmaps/CNS2-H.bcmap
public/js/pdf-js/web/cmaps/CNS2-V.bcmap
public/js/pdf-js/web/cmaps/ETen-B5-H.bcmap
public/js/pdf-js/web/cmaps/ETen-B5-V.bcmap
public/js/pdf-js/web/cmaps/ETenms-B5-H.bcmap
public/js/pdf-js/web/cmaps/ETenms-B5-V.bcmap
public/js/pdf-js/web/cmaps/ETHK-B5-H.bcmap
public/js/pdf-js/web/cmaps/ETHK-B5-V.bcmap
public/js/pdf-js/web/cmaps/EUC-H.bcmap
public/js/pdf-js/web/cmaps/EUC-V.bcmap
public/js/pdf-js/web/cmaps/Ext-H.bcmap
public/js/pdf-js/web/cmaps/Ext-RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/Ext-RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/Ext-V.bcmap
public/js/pdf-js/web/cmaps/GB-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GB-EUC-V.bcmap
public/js/pdf-js/web/cmaps/GB-H.bcmap
public/js/pdf-js/web/cmaps/GB-V.bcmap
public/js/pdf-js/web/cmaps/GBK-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GBK-EUC-V.bcmap
public/js/pdf-js/web/cmaps/GBK2K-H.bcmap
public/js/pdf-js/web/cmaps/GBK2K-V.bcmap
public/js/pdf-js/web/cmaps/GBKp-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GBKp-EUC-V.bcmap
public/js/pdf-js/web/cmaps/GBpc-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GBpc-EUC-V.bcmap
public/js/pdf-js/web/cmaps/GBT-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GBT-EUC-V.bcmap
public/js/pdf-js/web/cmaps/GBT-H.bcmap
public/js/pdf-js/web/cmaps/GBT-V.bcmap
public/js/pdf-js/web/cmaps/GBTpc-EUC-H.bcmap
public/js/pdf-js/web/cmaps/GBTpc-EUC-V.bcmap
public/js/pdf-js/web/cmaps/H.bcmap
public/js/pdf-js/web/cmaps/Hankaku.bcmap
public/js/pdf-js/web/cmaps/Hiragana.bcmap
public/js/pdf-js/web/cmaps/HKdla-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKdla-B5-V.bcmap
public/js/pdf-js/web/cmaps/HKdlb-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKdlb-B5-V.bcmap
public/js/pdf-js/web/cmaps/HKgccs-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKgccs-B5-V.bcmap
public/js/pdf-js/web/cmaps/HKm314-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKm314-B5-V.bcmap
public/js/pdf-js/web/cmaps/HKm471-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKm471-B5-V.bcmap
public/js/pdf-js/web/cmaps/HKscs-B5-H.bcmap
public/js/pdf-js/web/cmaps/HKscs-B5-V.bcmap
public/js/pdf-js/web/cmaps/Katakana.bcmap
public/js/pdf-js/web/cmaps/KSC-EUC-H.bcmap
public/js/pdf-js/web/cmaps/KSC-EUC-V.bcmap
public/js/pdf-js/web/cmaps/KSC-H.bcmap
public/js/pdf-js/web/cmaps/KSC-Johab-H.bcmap
public/js/pdf-js/web/cmaps/KSC-Johab-V.bcmap
public/js/pdf-js/web/cmaps/KSC-V.bcmap
public/js/pdf-js/web/cmaps/KSCms-UHC-H.bcmap
public/js/pdf-js/web/cmaps/KSCms-UHC-HW-H.bcmap
public/js/pdf-js/web/cmaps/KSCms-UHC-HW-V.bcmap
public/js/pdf-js/web/cmaps/KSCms-UHC-V.bcmap
public/js/pdf-js/web/cmaps/KSCpc-EUC-H.bcmap
public/js/pdf-js/web/cmaps/KSCpc-EUC-V.bcmap
public/js/pdf-js/web/cmaps/LICENSE
public/js/pdf-js/web/cmaps/NWP-H.bcmap
public/js/pdf-js/web/cmaps/NWP-V.bcmap
public/js/pdf-js/web/cmaps/RKSJ-H.bcmap
public/js/pdf-js/web/cmaps/RKSJ-V.bcmap
public/js/pdf-js/web/cmaps/Roman.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UCS2-H.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UCS2-V.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF8-H.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF16-H.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF16-V.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniCNS-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniGB-UCS2-H.bcmap
public/js/pdf-js/web/cmaps/UniGB-UCS2-V.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF8-H.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF16-H.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF16-V.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniGB-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UCS2-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UCS2-HW-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UCS2-HW-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UCS2-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF8-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF16-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF16-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF8-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF16-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF16-V.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniJIS2004-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniJISPro-UCS2-HW-V.bcmap
public/js/pdf-js/web/cmaps/UniJISPro-UCS2-V.bcmap
public/js/pdf-js/web/cmaps/UniJISPro-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniJISX0213-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniJISX0213-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniJISX02132004-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniJISX02132004-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/UniKS-UCS2-H.bcmap
public/js/pdf-js/web/cmaps/UniKS-UCS2-V.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF8-H.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF8-V.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF16-H.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF16-V.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF32-H.bcmap
public/js/pdf-js/web/cmaps/UniKS-UTF32-V.bcmap
public/js/pdf-js/web/cmaps/V.bcmap
public/js/pdf-js/web/cmaps/WP-Symbol.bcmap
public/js/pdf-js/web/images/annotation-check.svg
public/js/pdf-js/web/images/annotation-comment.svg
public/js/pdf-js/web/images/annotation-help.svg
public/js/pdf-js/web/images/annotation-insert.svg
public/js/pdf-js/web/images/annotation-key.svg
public/js/pdf-js/web/images/annotation-newparagraph.svg
public/js/pdf-js/web/images/annotation-noicon.svg
public/js/pdf-js/web/images/annotation-note.svg
public/js/pdf-js/web/images/annotation-paperclip.svg
public/js/pdf-js/web/images/annotation-paragraph.svg
public/js/pdf-js/web/images/annotation-pushpin.svg
public/js/pdf-js/web/images/cursor-editorFreeText.svg
public/js/pdf-js/web/images/cursor-editorInk.svg
public/js/pdf-js/web/images/findbarButton-next.svg
public/js/pdf-js/web/images/findbarButton-previous.svg
public/js/pdf-js/web/images/loading-dark.svg
public/js/pdf-js/web/images/loading-icon.gif
public/js/pdf-js/web/images/loading.svg
public/js/pdf-js/web/images/secondaryToolbarButton-documentProperties.svg
public/js/pdf-js/web/images/secondaryToolbarButton-firstPage.svg
public/js/pdf-js/web/images/secondaryToolbarButton-handTool.svg
public/js/pdf-js/web/images/secondaryToolbarButton-lastPage.svg
public/js/pdf-js/web/images/secondaryToolbarButton-rotateCcw.svg
public/js/pdf-js/web/images/secondaryToolbarButton-rotateCw.svg
public/js/pdf-js/web/images/secondaryToolbarButton-scrollHorizontal.svg
public/js/pdf-js/web/images/secondaryToolbarButton-scrollPage.svg
public/js/pdf-js/web/images/secondaryToolbarButton-scrollVertical.svg
public/js/pdf-js/web/images/secondaryToolbarButton-scrollWrapped.svg
public/js/pdf-js/web/images/secondaryToolbarButton-selectTool.svg
public/js/pdf-js/web/images/secondaryToolbarButton-spreadEven.svg
public/js/pdf-js/web/images/secondaryToolbarButton-spreadNone.svg
public/js/pdf-js/web/images/secondaryToolbarButton-spreadOdd.svg
public/js/pdf-js/web/images/toolbarButton-bookmark.svg
public/js/pdf-js/web/images/toolbarButton-currentOutlineItem.svg
public/js/pdf-js/web/images/toolbarButton-download.svg
public/js/pdf-js/web/images/toolbarButton-editorFreeText.svg
public/js/pdf-js/web/images/toolbarButton-editorInk.svg
public/js/pdf-js/web/images/toolbarButton-menuArrow.svg
public/js/pdf-js/web/images/toolbarButton-openFile.svg
public/js/pdf-js/web/images/toolbarButton-pageDown.svg
public/js/pdf-js/web/images/toolbarButton-pageUp.svg
public/js/pdf-js/web/images/toolbarButton-presentationMode.svg
public/js/pdf-js/web/images/toolbarButton-print.svg
public/js/pdf-js/web/images/toolbarButton-search.svg
public/js/pdf-js/web/images/toolbarButton-secondaryToolbarToggle.svg
public/js/pdf-js/web/images/toolbarButton-sidebarToggle.svg
public/js/pdf-js/web/images/toolbarButton-viewAttachments.svg
public/js/pdf-js/web/images/toolbarButton-viewLayers.svg
public/js/pdf-js/web/images/toolbarButton-viewOutline.svg
public/js/pdf-js/web/images/toolbarButton-viewThumbnail.svg
public/js/pdf-js/web/images/toolbarButton-zoomIn.svg
public/js/pdf-js/web/images/toolbarButton-zoomOut.svg
public/js/pdf-js/web/images/treeitem-collapsed.svg
public/js/pdf-js/web/images/treeitem-expanded.svg
public/js/pdf-js/web/locale/locale.properties
public/js/pdf-js/web/locale/ach/viewer.properties
public/js/pdf-js/web/locale/af/viewer.properties
public/js/pdf-js/web/locale/an/viewer.properties
public/js/pdf-js/web/locale/ar/viewer.properties
public/js/pdf-js/web/locale/ast/viewer.properties
public/js/pdf-js/web/locale/az/viewer.properties
public/js/pdf-js/web/locale/be/viewer.properties
public/js/pdf-js/web/locale/bg/viewer.properties
public/js/pdf-js/web/locale/bn/viewer.properties
public/js/pdf-js/web/locale/bo/viewer.properties
public/js/pdf-js/web/locale/br/viewer.properties
public/js/pdf-js/web/locale/brx/viewer.properties
public/js/pdf-js/web/locale/bs/viewer.properties
public/js/pdf-js/web/locale/ca/viewer.properties
public/js/pdf-js/web/locale/cak/viewer.properties
public/js/pdf-js/web/locale/ckb/viewer.properties
public/js/pdf-js/web/locale/cs/viewer.properties
public/js/pdf-js/web/locale/cy/viewer.properties
public/js/pdf-js/web/locale/da/viewer.properties
public/js/pdf-js/web/locale/de/viewer.properties
public/js/pdf-js/web/locale/dsb/viewer.properties
public/js/pdf-js/web/locale/el/viewer.properties
public/js/pdf-js/web/locale/en-CA/viewer.properties
public/js/pdf-js/web/locale/en-GB/viewer.properties
public/js/pdf-js/web/locale/en-US/viewer.properties
public/js/pdf-js/web/locale/eo/viewer.properties
public/js/pdf-js/web/locale/es-AR/viewer.properties
public/js/pdf-js/web/locale/es-CL/viewer.properties
public/js/pdf-js/web/locale/es-ES/viewer.properties
public/js/pdf-js/web/locale/es-MX/viewer.properties
public/js/pdf-js/web/locale/et/viewer.properties
public/js/pdf-js/web/locale/eu/viewer.properties
public/js/pdf-js/web/locale/fa/viewer.properties
public/js/pdf-js/web/locale/ff/viewer.properties
public/js/pdf-js/web/locale/fi/viewer.properties
public/js/pdf-js/web/locale/fr/viewer.properties
public/js/pdf-js/web/locale/fur/viewer.properties
public/js/pdf-js/web/locale/fy-NL/viewer.properties
public/js/pdf-js/web/locale/ga-IE/viewer.properties
public/js/pdf-js/web/locale/gd/viewer.properties
public/js/pdf-js/web/locale/gl/viewer.properties
public/js/pdf-js/web/locale/gn/viewer.properties
public/js/pdf-js/web/locale/gu-IN/viewer.properties
public/js/pdf-js/web/locale/he/viewer.properties
public/js/pdf-js/web/locale/hi-IN/viewer.properties
public/js/pdf-js/web/locale/hr/viewer.properties
public/js/pdf-js/web/locale/hsb/viewer.properties
public/js/pdf-js/web/locale/hu/viewer.properties
public/js/pdf-js/web/locale/hy-AM/viewer.properties
public/js/pdf-js/web/locale/hye/viewer.properties
public/js/pdf-js/web/locale/ia/viewer.properties
public/js/pdf-js/web/locale/id/viewer.properties
public/js/pdf-js/web/locale/is/viewer.properties
public/js/pdf-js/web/locale/it/viewer.properties
public/js/pdf-js/web/locale/ja/viewer.properties
public/js/pdf-js/web/locale/ka/viewer.properties
public/js/pdf-js/web/locale/kab/viewer.properties
public/js/pdf-js/web/locale/kk/viewer.properties
public/js/pdf-js/web/locale/km/viewer.properties
public/js/pdf-js/web/locale/kn/viewer.properties
public/js/pdf-js/web/locale/ko/viewer.properties
public/js/pdf-js/web/locale/lij/viewer.properties
public/js/pdf-js/web/locale/lo/viewer.properties
public/js/pdf-js/web/locale/lt/viewer.properties
public/js/pdf-js/web/locale/ltg/viewer.properties
public/js/pdf-js/web/locale/lv/viewer.properties
public/js/pdf-js/web/locale/meh/viewer.properties
public/js/pdf-js/web/locale/mk/viewer.properties
public/js/pdf-js/web/locale/mr/viewer.properties
public/js/pdf-js/web/locale/ms/viewer.properties
public/js/pdf-js/web/locale/my/viewer.properties
public/js/pdf-js/web/locale/nb-NO/viewer.properties
public/js/pdf-js/web/locale/ne-NP/viewer.properties
public/js/pdf-js/web/locale/nl/viewer.properties
public/js/pdf-js/web/locale/nn-NO/viewer.properties
public/js/pdf-js/web/locale/oc/viewer.properties
public/js/pdf-js/web/locale/pa-IN/viewer.properties
public/js/pdf-js/web/locale/pl/viewer.properties
public/js/pdf-js/web/locale/pt-BR/viewer.properties
public/js/pdf-js/web/locale/pt-PT/viewer.properties
public/js/pdf-js/web/locale/rm/viewer.properties
public/js/pdf-js/web/locale/ro/viewer.properties
public/js/pdf-js/web/locale/ru/viewer.properties
public/js/pdf-js/web/locale/sat/viewer.properties
public/js/pdf-js/web/locale/sc/viewer.properties
public/js/pdf-js/web/locale/scn/viewer.properties
public/js/pdf-js/web/locale/sco/viewer.properties
public/js/pdf-js/web/locale/si/viewer.properties
public/js/pdf-js/web/locale/sk/viewer.properties
public/js/pdf-js/web/locale/skr/viewer.properties
public/js/pdf-js/web/locale/sl/viewer.properties
public/js/pdf-js/web/locale/son/viewer.properties
public/js/pdf-js/web/locale/sq/viewer.properties
public/js/pdf-js/web/locale/sr/viewer.properties
public/js/pdf-js/web/locale/sv-SE/viewer.properties
public/js/pdf-js/web/locale/szl/viewer.properties
public/js/pdf-js/web/locale/ta/viewer.properties
public/js/pdf-js/web/locale/te/viewer.properties
public/js/pdf-js/web/locale/tg/viewer.properties
public/js/pdf-js/web/locale/th/viewer.properties
public/js/pdf-js/web/locale/tl/viewer.properties
public/js/pdf-js/web/locale/tr/viewer.properties
public/js/pdf-js/web/locale/trs/viewer.properties
public/js/pdf-js/web/locale/uk/viewer.properties
public/js/pdf-js/web/locale/ur/viewer.properties
public/js/pdf-js/web/locale/uz/viewer.properties
public/js/pdf-js/web/locale/vi/viewer.properties
public/js/pdf-js/web/locale/wo/viewer.properties
public/js/pdf-js/web/locale/xh/viewer.properties
public/js/pdf-js/web/locale/zh-CN/viewer.properties
public/js/pdf-js/web/locale/zh-TW/viewer.properties
public/js/pdf-js/web/standard_fonts/FoxitDingbats.pfb
public/js/pdf-js/web/standard_fonts/FoxitFixed.pfb
public/js/pdf-js/web/standard_fonts/FoxitFixedBold.pfb
public/js/pdf-js/web/standard_fonts/FoxitFixedBoldItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitFixedItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitSans.pfb
public/js/pdf-js/web/standard_fonts/FoxitSansBold.pfb
public/js/pdf-js/web/standard_fonts/FoxitSansBoldItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitSansItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitSerif.pfb
public/js/pdf-js/web/standard_fonts/FoxitSerifBold.pfb
public/js/pdf-js/web/standard_fonts/FoxitSerifBoldItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitSerifItalic.pfb
public/js/pdf-js/web/standard_fonts/FoxitSymbol.pfb
public/js/pdf-js/web/standard_fonts/LiberationSans-Bold.ttf
public/js/pdf-js/web/standard_fonts/LiberationSans-BoldItalic.ttf
public/js/pdf-js/web/standard_fonts/LiberationSans-Italic.ttf
public/js/pdf-js/web/standard_fonts/LiberationSans-Regular.ttf
public/js/pdf-js/web/standard_fonts/LICENSE_FOXIT
public/js/pdf-js/web/standard_fonts/LICENSE_LIBERATION
public/Jurnalik/jurnalik.svg
public/Jurnalik/structureJurnalik.svg
public/PDF/capstone.pdf
public/PDF/capstone2.pdf
public/tags/index.html
public/tags/index.xml
public/tags/page/1/index.html
public/index.xml
public/sitemap.xml
public/categories/index.xml
public/tags/index.xml
public/index.xml
public/sitemap.xml
public/categories/index.xml
public/tags/index.xml
